<p class="q">"<a href="http://jaybill.com">Jaybill</a> is just this guy, you know?"</p>

<p>This isn't a blog in any traditional sense. It's a collection of stuff I wrote, most of it short and weird. Sometimes it's microbloggy sort of stuff, sometimes it's short fiction. It's a mixed bag, really. Maybe you'll dig it. I don't know. I can't keep up with you people anymore.</p>

<p class="q">"What's with the name?"</p>

<p><a href="http://en.wikipedia.org/wiki/Short_Ride_in_a_Fast_Machine">Short Ride in a Fast Machine</a> is an orchestral composition by <a href="http://en.wikipedia.org/wiki/John_Adams_(composer)">John Adams</a>.</p>

<p class="q">"What's with the design of this site?"</p>

<p>This site uses the <a href="http://ethanschoonover.com/solarized">Solarized</a> color scheme created by Ethan Schoonover. The site is supposed to look like a text editor, which is where I spend most of my time in front of a computer anyway.</p>

<p class="q">"Can I contact you?"</p>

<p>If you want to talk to me about something on this site, feel free to <a href="mailto:heybill@shortrideinafastmachine.com">email me here</a>. If you want to talk me about something else, please use the appropriate channels to do so.</p>
