<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ page.title }}</title>
    <link href="/vendor/shortrideinafastmachine-theme/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/site.css" rel="stylesheet">
    <link rel="icon" type="image/x-icon" href="/favicon.ico" />
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body>
    <div class="container">
        <div class="masthead">
            <div class="row">
                <div class="col-md-6">
                    <h1><a href="/">// short ride in a fast machine</a></h1>
                </div>
                <div class="col-md-6">
      
                </div>
            </div>
        </div>

        {{ content }}
    </div>

    <div class="container">
        <div class="footer">
            <div class="ab">[ <a href="#" class="-ab" data-toggle="collapse" data-target="#about">About</a> ]</div>
            <div id="about" class="collapse">
              {% include about.html %}
            </div>
                <p id="copy">&copy; 2014 J. William McCarthy, All rights reserved. Please don't steal my s#%t. Thanks.</p>
        </div>
    </div>
<script src="/vendor/jquery/dist/jquery.min.js"></script>
<script src="/vendor/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="/js/analytics.js"></script>
<script src="/js/home.js"></script>

</body>

</html>
